<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    
    <title>Meal History</title>
</head>
<body>
    <header>Meal History</header>
    <div class="container">
        <h1>Your Meal History</h1>
        <form action="/meals/history" method="GET">
          <label for="fromDate">From Date</label>
          <input type="date" id="fromDate" name="fromDate" value="<%= query.fromDate || '' %>" />
          
          <label for="toDate">To Date</label>
          <input type="date" id="toDate" name="toDate" value="<%= query.toDate || '' %>" />
          

            <label for="mealType">Meal Type</label>
            <select id="mealType" name="mealType">
                <option value="all" <%= !query.mealType || query.mealType === 'all' ? 'selected' : '' %>>All</option>
                <option value="breakfast" <%= query.mealType === 'breakfast' ? 'selected' : '' %>>Breakfast</option>
                <option value="lunch" <%= query.mealType === 'lunch' ? 'selected' : '' %>>Lunch</option>
                <option value="dinner" <%= query.mealType === 'dinner' ? 'selected' : '' %>>Dinner</option>
            </select>

            <button type="submit">Filter</button>
        </form>

        <% if (meals.length > 0) { %>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Meal Type</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Blood Sugar</th>
                    <th>Food Sugar</th>
                    <th>Event</th>
                </tr>
            </thead>
            <tbody>
                <% meals.forEach(meal => { %>
                <tr>
                    <td class="date"><%= meal.meal_date %></td>
                    <td><%= meal.mealType %></td>
                    <td><%= meal.description %></td>
                    <td><img src="<%= meal.image %>" alt="Meal Image" style="width:50px; height:50px;" /></td>
                    <td><%= meal.bloodSugar %></td>
                    <td><%= meal.foodSugar %></td>
                    <td><%= meal.event %></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
        <% } else { %>
        <p>No meals found.</p>
        <% } %>
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const fromDateInput = document.getElementById('fromDate');
        const toDateInput = document.getElementById('toDate');
    
        function setDateToEnglishFormat(input) {
          const date = new Date(input.value);
          const options = { year: 'numeric', month: '2-digit', day: '2-digit' };
          input.value = date.toLocaleDateString('en-US', options);
        }
    
        fromDateInput.addEventListener('focusout', function() {
          setDateToEnglishFormat(fromDateInput);
        });
    
        toDateInput.addEventListener('focusout', function() {
          setDateToEnglishFormat(toDateInput);
        });
      });
    </script>
    
</body>
</html>
